add.asm         pass
lwsw.asm        pass
sub.asm         pass
slt.asm         pass
slti.asm        pass
beq.asm         pass
bne.asm         pass
jumptest.asm    pass
